.compatibility-question {
  position: absolute;
  transform: scale(0);
}

label[for^="option-"] {
  cursor: pointer;
  display: inline-block;
  padding: 10px 20px;
  background-color: #ddd;
  color: #000;
  border-radius: 5px;
  transition: all 0.3s ease;
  border: 1px solid #999;
  font-weight: 500;
}

label[for^="option-"] i {
  margin-right: 8px;
}

.compatibility-question:checked + label {
  background-color: #1EC677;
  color: white;
  border-color: #1EC677;
}

.organization {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  padding: 20px;
}
