// Specific CSS for your home-page


.card-image {
  width: 300px;
  border-radius: 7px;

}

.card{
  width: 300px;
  border: none;
}

.card-container{
  display: flex;
  justify-content: space-between;
  max-width: 950px;
  margin: 50px auto 0 auto;
}

.icons-container{
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 950px;
  margin: 70px auto;
}

.icons-card{
  width: 280px;
}

.icon-image{
  width: 30px;
  margin-bottom: 10px;
}


.texto-card{
  margin:0;
  font-size: 0.9rem;
  color:gray;
}

.title-card{
  margin-bottom: 0;
  padding-top: 5px;
  font-weight: 600;
  color: rgb(156, 211, 5);
}

.price{
  color: black;
  font-weight: 600;

}

.banner-image-container {
  position: relative;

}

.banner-image {
  height: 500px;
  width: 100%;
  object-fit: cover;
  filter: grayscale(100%);
  opacity: 0.8;
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  width: 80%;
}

.banner-text h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
  color: #000000;
  font-weight: 600;
}

.banner-text p {
  font-size: 1.2em;
}

.title-FAQ{
  text-align: center;
  margin-block: 30px;
}


@media (max-width: 768px) {
  .card-container {
    display: flex;
    flex-direction: column;
  }

  .card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card-image {
    width: 90%;
    border-radius: 7px;
    object-fit: cover;
  }

  .icons-container{
    display: flex;
    flex-direction: column;
  }

  .icons-card{
    width: 90%;
  }

}
