// Specific CSS for your home-page


.card-image {
  width: 300px;
  border-radius: 7px 7px 0px 0px;

}

.card-home{
  width: 300px;
  border: none;
  border-radius: 10px;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 10px;
  margin-left: 10px;
}
.card-container{
  display: flex;
  justify-content: space-between;
  max-width: 950px;
  margin: 60px auto 50px auto;
}

.icons-container{
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 950px;
  margin: 70px auto;
}

.icons-card{
  width: 280px;
}

.icon-image{
  width: 30px;
  margin-bottom: 10px;
}


.texto-card{
  margin:0;
  font-size: 0.9rem;
  color:#0d4029;
  text-align: center;
}

.title-card{
  margin-bottom: 0;
  padding-top: 5px;
  font-weight: 600;
  color: #1EC677;
  text-align: center;
}

.price{
  color: black;
  font-weight: 600;
  text-align: center;
}



.banner-image-container {
  position: relative;

}

.banner-image {
  height: 600px;
  width: 100%;
  object-fit: cover;
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  width: 80%;

}

.banner-text h1 {
  font-size: 4rem;
  margin-bottom: 10px;
  color: #ffffff;
  font-weight: 700;
  font-family: Urbanist;
}


.title-FAQ{
  text-align: center;
  margin-block: 30px;
  font-size: 2.5rem;
  font-family: Urbanist;
  font-weight: 700;
  color: #0d4029;
}


.acordeon-container {
  max-width: 800px;
  margin: 0 auto;

}



/* === CONTENEDORES === */
.contenedor-1,
.contenedor-2,
.contenedor-3 {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 70px 0 80px;
}

/* Colores individuales */
.contenedor-1 { background-color: #cff6e4; }
.contenedor-2 { background-color: #feffff; }
.contenedor-3 { background-color: #e2fdf0; }

/* === BULLETS === */
.icons-text {
  width: 500px;
}

.icons-text h1 {
  font-size: 3.8rem;
  font-weight: 700;
  color: #0d4029;
  font-family: Urbanist;
}

.icons-text p {
  color: #5d6863;
  font-size: 1rem;
}

/* === IMÁGENES === */
.icon-image2 {
  width: 500px;
  margin: 0 20px 0 10px;
}


.fade-in {
  opacity: 0;
  transform: translateY(60px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fade-in.visible {
  opacity: 1;
  transform: translate(0, 0);
}

.fade-up { transform: translateY(60px); }
.fade-down { transform: translateY(-60px); }
.fade-left { transform: translateX(60px); }
.fade-right { transform: translateX(-60px); }

.cities{
  display: flex;
  margin: 60px auto;
  justify-content: space-between;
  max-width: 950px;
}

.city-image{
  width: 220px;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.city-card{
  text-align: center;
  transition: transform 0.3s ease;
}

.scaled .city-image {
  transform: scale(1.1);
}


.cities div p{
  margin: 0;
  text-align: center;
  padding-top: 10px;
  font-family: Urbanist;
  font-weight: 600;
  font-size: 1.2rem;
}

.separador{
  text-align: center;
  margin-block: 40px;

}

.separador h1{
  font-family: Urbanist;
  font-weight: 700;
  color: #0d4029;
}




@media (max-width: 768px) {
  .card-container {
    display: flex;
    flex-direction: column;
  }

  .card-home {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px auto;
  }

  .card-image {
    width: 100%;
    border-radius: 7px;
    object-fit: cover;
  }

  .icons-container{
    display: flex;
    flex-direction: column;
  }

  .icons-card{
    width: 90%;
  }

  .contenedor-1{
    background-color: #e2e2e2;
    display: flex;
    flex-direction: column;
    width:100%;
    text-align: center;
    padding-bottom: 80px;
    padding-top: 70px;
  }

  .contenedor-2{
    background-color: #4508df;
    display: flex;
    width:100%;
    flex-direction: column;
    text-align: center;
    padding-bottom: 80px;
    padding-top: 70px;
  }

  .contenedor-3{
    background-color: #cff6e4;
    display: flex;
    width:100%;
    flex-direction: column;
    padding-bottom: 80px;
    padding-top: 70px;
    text-align: center;
  }

  .cities{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
  }

  .city-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin-bottom: 10px;
  }

  .city-image{
    width: 90%
  }
}

.card-home {
  transition: transform 0.3s ease;
}

.card-home.scaled {
  transform: scale(1.03);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.carousel-fixed-height {
  height: 600px;
}

.carousel-fixed-height .carousel-item img {
  height: 600px;
  object-fit: cover;
  width: 100%;
}

.carousel-caption {
  bottom: 30%;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
}
.carousel-caption .btn {
  font-size: 1.2rem;
  border-radius: 10px;
  padding: 20px;
  background: #1EC677;
  border: none;

}

.carousel-caption .btn:hover {
  background: #17b06a; /* un poco más oscuro */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.carousel-caption h1{
  font-family: Urbanist;
  font-size: 3rem;
  font-weight: 700;
}
