<footer>
    <div class="footer-icons">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
    </div>
    <p>&copy; 2025 Room Match | Hecho con <i class="fas fa-heart"></i></p>
</footer>
