<h1>Encuentra a tu roomie segun compatibilidad</h1>
<p>Encuentra alojamientos con cocina, wifi, jacuzzis y mucho más.</p>

<div class="card-container">
   <div class ="card">
      <%= image_tag("room1.jpg", alt: "tv", class: "card-image") %>
      <p class="texto-card"> <strong>LG </strong> <br>
      Televisor 4k Nanocell Smart 55'</p>
      <p class="price">$500</p>
    <p class="detail">New offers</p>
  </div>
    <div class ="card">
      <%= image_tag("room2.jpg", alt: "tv", class: "card-image") %>
      <p class="texto-card"> <strong>LG </strong> <br>
      Televisor 4k Nanocell Smart 55'</p>
      <p class="price">$500</p>
    <p class="detail">New offers</p>
  </div>
    <div class ="card">
      <%= image_tag("room3.jpg", alt: "tv", class: "card-image") %>
      <p class="texto-card"> <strong>LG </strong> <br>
      Televisor 4k Nanocell Smart 55'</p>
      <p class="price">$500</p>
    <p class="detail">New offers</p>
  </div>
  </div>
