<%# la encontramos en #http://127.0.0.1:3000/detail_compatibilities/new %>
<div class="container mt-5 ">
  <div style="max-width: 700px; margin: 0 auto; padding: 20px; border: 1px solid #ccc; border-radius: 5px; background-color:rgb(236, 237, 240); color:rgb(0, 0, 0);">
      <h1 class="text-center fw-bold">¡Selecciona tus gustos para encontrar hacer un verdadero roommatch!</h1>
  </div>
</div>



<div class="organization">
  <div class="">
    <div class="">
<% @detail_compatibilities.each do |c| %>
  <input class="compatibility-question" type="checkbox" id="option-<%= c.title %>">
  <label class="m-2" for="option-<%= c.title %>"><i class="<%= c.icon %>"></i> <%= c.title_spanish %></label>
<% end %>
    </div>
  </div>
</div>
