footer {
  background-color: #1EC677;
  padding: 20px;
  text-align: center;
}

.footer-icons a {
  color: #292929;
  font-size: 24px;
  margin: 0 10px;
}

.footer-icons a:hover {
  color: #ffffff;
}
