// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/check_box_compatibility_questions";
@import "users";
@import "devise";
@import "components/places-cards";
@import "components/btn-new-place";
@import "components/notification-modal";
@import "components/btn-chat";

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  }

  main {
  flex-grow: 1;
  }

  footer {
  flex-shrink: 0;
  }
