html, body {
  background: #fff;
  margin: 0;
  padding: 0;
}

.myprofile-container {
  max-width: 1200px;   /* Aumenta el ancho máximo */
  margin: 0 auto;
  padding: 80px 40px;
  background: #fff;
  min-height: 70vh;
}

.myprofile-card {
  width: 100%;
  margin: 60px auto 60px;  /* margen arriba y abajo */
  background: #fff;
  border: none;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.myprofile-header {
  background: linear-gradient(to right bottom, #1EC677, #1BBF67);
  padding: 1.5rem;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  text-align: center;
}

.myprofile-header h2 {
  color: #fff;
  font-weight: 700;
  margin-bottom: 0;
}

.myprofile-header small {
  font-size: 0.9rem;
  color: #0d4029;
}

/* Sección izquierda: foto y datos básicos */
.myprofile-photo-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background: url('/assets/room1.jpg') no-repeat center center;
  background-size: cover;
  height: 100%;
  color: #fff;
}

.myprofile-avatar {
  width: 200px;   /* Se puede ajustar aquí si lo prefieres en CSS */
  height: 200px;
  object-fit: cover;
  border: 4px solid #fff;
  border-radius: 50%;
  margin-bottom: 20px;
}

.myprofile-name {
  font-size: 2rem;
  margin-bottom: 8px;
}

.myprofile-occupation {
  font-size: 1.2rem;
}

/* Sección derecha: Información personal */
.myprofile-info-section {
  display: flex;
  align-items: center;
  height: 100%;
}

.myprofile-info {
  width: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.myprofile-title {
  color: #0d4029;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.myprofile-divider {
  margin: 0 0 10px;
  border: 0;
  border-top: 1px solid #eee;
}

.myprofile-data h6 {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  color: #0d4029;
}

.myprofile-data p {
  font-size: 0.9rem;
  margin: 0;
  color: #777;
}

.myprofile-bio {
  text-align: justify;
}

.myprofile-actions {
  margin-top: 20px;
  text-align: left;
}

.myprofile-btn {
  background: #1EC677;
  color: #fff;
  font-weight: bold;
  padding: 0.8rem 2rem;
  border: none;
  font-size: 1.2rem;
  display: inline-block;
}

.myprofile-bio {
  text-align: justify;
}

/* Responsividad */
@media (max-width: 768px) {
  .myprofile-container {
    padding: 40px 20px;
  }
  .myprofile-info {
    padding: 20px;
  }
}
